<%= form_for @projectdetail, :html => { :class => 'form-horizontal' } do |f| %>
<% if @projectdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projectdetail.errors.count, "error") %> prohibited this user input from being saved:</h2>

      <ul>
      <% @projectdetail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="span5">
      <div class="control-group">
    <%= f.label :Project_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :proj_name, placeholder: "Enter Project Name", :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Project_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :proj_code, placeholder: "Enter Project Code", :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Project_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :proj_desc, placeholder: "Enter Project Description", :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Biling_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :biling_type, ['TNM', 'FIXED'], placeholder: "Select Biling type", :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, placeholder: "Select Start Date" , 'data-behaviour' => 'datepicker', :id => 'datepicker', :class => 'text_field' %>
    </div>
  </div>

      <%= yield %></div>
      <div class="span5">
  <div class="control-group">
    <%= f.label :Dead_line_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dead_line_date, placeholder: "Select Dead line date" , 'data-behaviour' => 'datepicker', :id => 'datepicker', :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :End_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date, placeholder: "Select End date" , 'data-behaviour' => 'datepicker' , :id => 'datepicker', :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Github_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :github_url, placeholder: "Enter Github url ", :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :status, ['POC', 'KICK OFF', 'COMPLETED'], placeholder: "Select Status"  , :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Organization_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :org_id, Projectdetail.all, :id, :org_name, placeholder: "Enter Organization_name", :class => 'text_field' %>
    </div>
  </div>

  </div>
  </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projectdetails_path, :class => 'btn' %>
  </div>
<% end %>