<%- model_class = Projectdetail -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <%= form_tag(:projectdetails, method: "get") do %>
      <div align="left">
        Enter Project Name
        <%= text_field_tag "search", params[:search] %>
        Enter status <%= select("status", "status_id", Projectdetail.all.collect {|p| [ p.status, p.id ] }) %>
        Enter Organization Name<%= select("org_name", "org_id", Organization.all.collect {|p| [ p.org_name, p.id ] }, include_blank: true) %>
        <%= submit_tag "Search", name: nil, class: "btn-custom-darken" %>
        <br/>
        <br/>
      </div>
    <% end %>
    <tr>
      <th><%= model_class.human_attribute_name(:Id) %></th>
      <th><%= model_class.human_attribute_name(:Project_Name) %></th>
      <th><%= model_class.human_attribute_name(:Project_Code) %></th>
      <th><%= model_class.human_attribute_name(:Project_Desc) %></th>
      <th><%= model_class.human_attribute_name(:Billing_Type) %></th>
      <th><%= model_class.human_attribute_name(:Start_Date) %></th>
      <th><%= model_class.human_attribute_name(:Dead_line_Date) %></th>
      <th><%= model_class.human_attribute_name(:End_Date) %></th>
      <th><%= model_class.human_attribute_name(:Github_url) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:Organization_Name) %></th>
      <th><%= model_class.human_attribute_name(:Cretated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="projectdetail">
  <td>
   <%= render @projectdetails %>
    </tbody>
</table>
<div id="paginator">
    <%= paginate @projectdetails , :remote => true %>
</div>
<%= link_to "New", new_projectdetail_path, :class => 'btn btn-primary' %>