<%- model_class = Organization -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Id) %></th>
      <th><%= model_class.human_attribute_name(:Organization_Name) %></th>
      <th><%= model_class.human_attribute_name(:Organization_Country) %></th>
      

      
      <th><%= model_class.human_attribute_name(:POC) %></th>
      <th><%= model_class.human_attribute_name(:KICK_OFF) %></th>
      <th><%= model_class.human_attribute_name(:COMPLETED) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="projectdetail">
  <% @organizations.each do |f| %>
 <tr>
        <td><%= link_to f.id, organization_path(f) %></td>
        <td><%= f.org_name %></td>
        <td><%= f.org_country %></td>
        <td><%= f.projectdetails.count_by('POC')%></td>
        <td><%= f.projectdetails.count_by('KICK_OFF')%></td>
        <td><%= f.projectdetails.count_by('COMPLETED') %></td>
        <td>
          <%= link_to "Edit", edit_organization_path(f), :class => 'btn btn-mini' %>
          <% if f.projectdetails.any? %>

          <% else %>
          <%= link_to "Destroy", organization_path(f
            ),
                      :method => :delete, 
                      :data => { :confirm => 'Are you sure?' }, 
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
<% end %>
    </tbody>
</table>
<div id="paginator", align="right">
    <%= will_paginate @organizations, :remote => true %>
</div>
<%= link_to "New", new_organization_path, :class => 'btn btn-primary' %>
